:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --section-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: auto;
  width: 1600px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
.lists {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hide-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}
/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;

  outline: 1px solid tomato;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: antiquewhite;
}
.sectionf {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: cornflowerblue;
}
.sectiona {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: crimson;
}
.sectiont {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: antiquewhite;
}

/* Допустимы сброс стилей по ТЗ */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  display: block;
  background-color: blueviolet;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-black {
  color: var(--black-color);
}
/* site nav */
.site-nav {
  display: flex;
}
.site-nav .item + .item,
.auth-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: tomato;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: aquamarine;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* Стили для index.html*/
/* hero */
.hero,
.footer {
  background-color: var(--hero-bg-color);
}
.hero {
  padding: 200px 452px;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}
/* features */
.features-list {
  display: flex;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* about & team */
.about-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.team {
  background-color: var(--section-color);
}
.team-list .title {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-white {
  color: var(--white-color);
}
.address .text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  color: var(--white-color);
}
.address-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--address-link-color);
}
/* Стили для portfolio.html */
/* buttons */
.buttons {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--section-color);
  color: var(--title-text-color);
}
.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  cursor: pointer;
}
/* cards */
.cards-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.88;
}
